# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
test_list = [1,2,3,4,5,6,7,8,9,10,12,13]

In [3]:
#Method 1
def count_rutz(listofnumbers):
    counter=0
    for number in listofnumbers:
        counter+=1
    return counter

In [4]:
#Method 2
def count_list(list_elements):
    '''This function returns the count of elements in a list'''
    return len(list_elements)

In [5]:
print(count_rutz(test_list))
print(count_list(test_list))

12
12

Create a function that returns the mean of a list of numbers

In [6]:
#Metohd 1
def mean_rutz(listofnumbers):
    lenoflist = count_rutz(listofnumbers)
    sumoflist = 0
    for number in listofnumbers:
        sumoflist += number
    meanoflist=sumoflist/lenoflist
    return meanoflist

In [7]:
#Method 2
def mean_list(list_elements):
    '''This function returns the mean of elements in a list'''
    mean_list = sum(list_elements) / len(list_elements)
    return mean_list

In [8]:
print(mean_rutz(test_list))
print(mean_list(test_list))

6.666666666666667
6.666666666666667

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [9]:
#Method 1
def std_rutz(listofnumbers):
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    var=0
    for number in listofnumbers:
        var+= (number - meanoflist)**2
        std = (var/(lenoflist-1))**(0.5)
    return(std)

In [10]:
#Method 2
def standard_deviation_list(list_elements):
    '''This function returns the standard deviation of a list.
    stdev = sqrt((sum(x - x_mean)Â²) / (number_of_elements - 1))  
    '''     
    sum_elem_mean_square = sum([(element_list - mean_list(list_elements))**2 for element_list in list_elements])
    stdev_list = (sum_elem_mean_square/(len(list_elements)-1))**0.5
    return stdev_list

In [11]:
print(std_rutz(test_list))
print(standard_deviation_list(test_list))

3.869069264008719
3.869069264008719

In [12]:
#using a library 
import statistics 
statistics.stdev(test_list)

3.869069264008719

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [13]:
#Method 1
def describe_rutz(listofnumbers):
    """Returns mean, count and standard deviation of a given list
    Parameters: a numeric list
    Return: 3 numeric variables with mean, count and standard deviation 
    Example:
    input: [5,6,888,496,216,1,65,7]
    output: 8, 210.5, 323.16957070332506"""
    meanoflist= mean_rutz(listofnumbers)
    lenoflist = count_rutz(listofnumbers)
    stdoflist = std_rutz(listofnumbers)
    return lenoflist,meanoflist,stdoflist

In [14]:
#Method 2
def describe_data(list_elements):
    ''' This function return count, mean and standard deviation of a given list'''
    count1 = count_list(list_elements)
    mean1 = mean_list(list_elements)
    stdev1 = standard_deviation_list(list_elements)
    
    return print(f'Count:{count1}, Mean: {round(mean1,2)}, Standard deviation: {round(stdev1,2)}')

In [15]:
(describe_rutz(test_list))

(12, 6.666666666666667, 3.869069264008719)

In [16]:
describe_data(test_list)

Count:12, Mean: 6.67, Standard deviation: 3.87

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [17]:
def string_cleaning(phrase):
    new_string=""
    alpha= [character for character in phrase if character.isalnum()]
    return new_string.join(alpha)

In [18]:
string_cleaning("xnsimx_vcdsmc o34238900.,/?xedxmew")

'xnsimxvcdsmco34238900xedxmew'

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [19]:
def classifier(lst):
    very_low=min(lst)
    very_high=max(lst)
    medium= lst[int(len(lst)/2)]
    for i in range(len(lst)):
        if lst[i] == very_low:
            lst[i]="Very low"
        elif lst[i] == very_high:
            lst[i]="Very High"
        elif lst[i] == medium:
            lst[i]="Mean"
        elif lst[i]<medium:
            lst[i]= "Low"
        elif lst[i]>medium:
            lst[i] = "High"
    return lst

In [20]:
classifier([0,900000,54366,250,4889,318916,318,149856])

['Very low', 'Very High', 'High', 'Low', 'Mean', 'High', 'Low', 'High']

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [21]:
def number150():
    number= input("Please Insert Your Age")
    if number.isalpha():
        number150()
    else:
        if int(number)>150:
            number150()
        elif int(number)<0:
            number150()
        else:
            return f"Your Age is {number}"

In [22]:
print(number150())

Please Insert Your Age30
Your Age is 30

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [23]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical(string):
    new_string=" "
    return new_string.join(sorted(string.split(", ")))

In [24]:
buzz=alphabetical(buzz)

In [25]:
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [26]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alphabetical():
    global buzz
    new_string=" "
    buzz = new_string.join(sorted(buzz.split(", ")))

In [27]:
alphabetical()
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [28]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [29]:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [30]:
iris_numeric.mean()

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [31]:
iris_numeric.std()

sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [32]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return(x *0.393700787)

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

##### WARNING: the following 'for loop' code is not a good practice, we're only using it as a pedagogical way to connect the dots from what we have learn from for loop.

So, let's try to iterate through each pandas's object row using a for loop:

In [33]:
# first method: iterate through each column using for loop
# note that each column from a pandas data frame is an array, and so we can use the for loop to transform each element

iris_inch_sepal_length = []
for i in iris_numeric.sepal_length:
    iris_inch_sepal_length.append(cm_to_in(i))

# we can also use for loop in a comprehension list method
iris_inch_sepal_width = [cm_to_in(i) for i in iris_numeric.sepal_width]

iris_inch_petal_length = [cm_to_in(i) for i in iris_numeric.petal_length]

iris_inch_petal_width = [cm_to_in(i) for i in iris_numeric.petal_width]

##### So we we had to iterate through each array using a for loop.
Now, we're going to create a list of lists with each for loop output

In [34]:
iris_lists = [iris_inch_sepal_length, 
               iris_inch_sepal_width, 
               iris_inch_petal_length, 
               iris_inch_petal_width]

##### Let's then create a dataframe with iris_lists
Now, we're going to create a list of lists with each for loop output

In [35]:
# after that transform the list of lists into a data frame again
df_iris = pd.DataFrame(iris_lists)

In [36]:
df_iris.head()

,0,1,2,3,4,5,6,7,8,9
0,2.007874,1.929134,1.850394,1.811024,1.968504,2.125984,1.811024,1.968504,1.732283,1.929134
1,1.377953,1.181102,1.259843,1.220472,1.417323,1.535433,1.338583,1.338583,1.141732,1.220472
2,0.551181,0.551181,0.511811,0.590551,0.551181,0.669291,0.551181,0.590551,0.551181,0.590551
3,0.078740,0.078740,0.078740,0.078740,0.078740,0.157480,0.118110,0.078740,0.078740,0.039370

##### As we can see, the imported data has a differente shape compared to the original dataset
- In order to follow to correct the problem, we have to transpose the values, as we can do at Excel
- To invert the data we use the method T

In [37]:
df_iris = df_iris.T

In [38]:
df_iris.head()

          0         1         2        3
0  2.007874  1.377953  0.551181  0.07874
1  1.929134  1.181102  0.551181  0.07874
2  1.850394  1.259843  0.511811  0.07874
3  1.811024  1.220472  0.590551  0.07874
4  1.968504  1.417323  0.551181  0.07874

In [39]:
df_iris.columns = iris_numeric.columns

In [40]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007874     1.377953      0.551181      0.07874
1      1.929134     1.181102      0.551181      0.07874
2      1.850394     1.259843      0.511811      0.07874
3      1.811024     1.220472      0.590551      0.07874
4      1.968504     1.417323      0.551181      0.07874

##### The following method is quite simple and more and a good practice to iterate through each pandas dataframe row

In [41]:
iris_inch = iris_numeric.apply(cm_to_in)

In [42]:
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007874     1.377953      0.551181      0.07874
1      1.929134     1.181102      0.551181      0.07874
2      1.850394     1.259843      0.511811      0.07874
3      1.811024     1.220472      0.590551      0.07874
4      1.968504     1.417323      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [43]:
error=2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error 
    return(x + error)

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [44]:
iris_constant = iris_numeric.apply(add_constant)

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [45]:
total_length = iris_numeric[['sepal_length','petal_length']].apply(sum, axis=1);
total_width = iris_numeric[['sepal_width','petal_width']].apply(sum, axis=1);

In [46]:
total_length.head()

0    6.5
1    6.3
2    6.0
3    6.1
4    6.4
dtype: float64

In [47]:
total_width.head()

0    3.7
1    3.2
2    3.4
3    3.3
4    3.8
dtype: float64