# LAB | Hypothesis testing

### Import libraries here:

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

- We will be using  the Pokemon dataset.
- In this challenge our `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Before applying statistical methods to this data, let's first examine the data.
- Read the `pokemon.csv` dataset

In [ ]:
# Your code here

In [2]:
pokemon = pd.read_csv('data/pokemon.csv')

- Let's start off by looking at the `head` function.

In [ ]:
# Your code here

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Compare the `count` of legendary vs. non legendary Pokemons.

In [ ]:
# Your code here

In [4]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

- Compute the `mean` and `standard deviation` of the `Total` points for both legendary and non-legendary Pokemon.

In [ ]:
# Your code here

In [5]:
pokemon.groupby('Legendary')['Total'].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [6]:
pokemon.groupby('Legendary')['Total'].std()

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

### Independent samples t-test
- The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.
- In the cell below, use the `ttest_ind` function to compare the `Total` points for `legendary` and `non-legendary` pokemon. 
- The `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Since we do not have any information about the population, assume the variances are not equal.
```python
from scipy.stats import ttest_ind
```

In [ ]:
# Your code here

In [7]:
from scipy.stats import ttest_ind

In [8]:
legendary_pokemon = pokemon[pokemon.Legendary == True].Total
non_legendary_pokemon = pokemon[pokemon.Legendary == False].Total

In [9]:
ttest_ind(legendary_pokemon, 
          non_legendary_pokemon, 
          equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

- What do you conclude from this test? Write your conclusions below.
- Assume your confidence interval is 0.05

In [ ]:
# Your answer here

In [ ]:
# The p value is smaller than the usual alphas (confidence level) of 0.05 or 0.01 we can reject the Null hypothesis. 
# For the t-test the Null hypothesis says that both samples have identical average values,
# since we reject this hypothesis, it makes a difference if the pokemon is legendary

### Different types of pokemons
- How about we try to compare the different types of pokemon? 
- In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [ ]:
# Your code here

In [10]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

- Since water is the largest group of Pokemon, print the `mean` and `standard deviation` for water pokemons and non-water pokemons.

In [ ]:
# Your code here

In [11]:
mean_water = round(pokemon.groupby(pokemon["Type 1"])['Total'].mean()['Water'],2)
mean_other = round(pokemon.loc[pokemon['Type 1'] != 'Water','Total'].mean(),2)
std_water = round(pokemon.groupby(pokemon["Type 1"])['Total'].std()['Water'],2)
std_other = round(pokemon.loc[pokemon['Type 1'] != 'Water','Total'].std(),2)

In [12]:
print(f'For water pokemons: Mean={mean_water} and Standard deviation={std_water}')
print(f'For other pokemons: Mean={mean_other} and Standard deviation={std_other}')

For water pokemons: Mean=430.46 and Standard deviation=113.19
For other pokemons: Mean=435.86 and Standard deviation=121.09

- Perform an independent samples t-test to compare the `mean` of `Total` points for water Pokemon to all non-water Pokemon. 
- Assume the variances are equal.

In [ ]:
# Your code here

In [13]:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total']
non_water_pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total']

In [14]:
ttest_ind(water_pokemon, 
          non_water_pokemon, 
          equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

In [ ]:
# The p value is bigger than the usual alphas (confidence level) of 0.05 or 0.01 we can not reject the Null hypothesis. 
# For the t-test the Null hypothesis says that both samples have identical average values,
# since we did not rejected that hypothesis water pokemons and other types of pokemons have similar total power

____________________________________

# Challenge 2 - Matched Pairs Test

- In this challenge we will compare dependent samples of data describing our Pokemon. 
- Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 
- Our hypothesis is that the defense and attack scores are equal. 
- Use the `ttest_rel` function to compare Pokemon's `defense` and `attack` and see if there is a statistically significant difference between them.
```python
from scipy.stats import ttest_rel
```

In [ ]:
# Your code here

In [15]:
from scipy.stats import ttest_rel

In [16]:
ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

In [ ]:
# The p value is smaller than the usual alphas (confidence level) of 0.05 or 0.01 we can reject the Null hypothesis. 
# For the relational t-test the Null hypothesis says that both samples have identical average values,
# since we rejected that hypothesis the defense and attack do not have the same value

- We are also curious if is a significant difference between the mean of `Sp. Def` and the mean of `Sp. Atk`. 
- Perform the hypothesis test in the cell below.

In [ ]:
# Your code here

In [17]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

In [ ]:
# The p value is bigger than the usual alphas (confidence level) of 0.05 or 0.01 we can not reject the Null hypothesis. 
# For the relational t-test the Null hypothesis says that both samples have identical average values,
# since we did not reject that hypothesis the special defense and special attack have similar values

- As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.
- Import the `ttest_1samp` function and perform a one sample t-test.
- Use the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.
```python
from scipy.stats import ttest_1samp
```

In [ ]:
# Your code here

In [19]:
from scipy.stats import ttest_1samp

In [20]:
ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

- The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. 
- Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).
- In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legendary or not and whether the Type 1 of a Pokemon is water or not.
```python
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
```

In [ ]:
# Your code here

In [21]:
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
contingency_table

Type 1     False  True
Legendary
False        627    108
True          61      4

- Perform a chi-squared test using the `chi2_contingency`
- You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).
```python
from scipy.stats import chi2_contingency
```

In [ ]:
# Your code here

In [22]:
from scipy.stats import chi2_contingency

In [23]:
 g, p, dof, expctd = chi2_contingency(contingency_table)

In [24]:
g , p

(2.9429200762850503, 0.08625467249550949)

- Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here

In [25]:
# The p value is bigger than the alpha (confidence level) we choose of 0.05 so we can not reject the Null hypothesis. 
# For the chi-squared test the Null hypothesis says that both categories are independent,
# since we did not reject that hypothesis the fact that a pokemon is of water type does not increase or decrease 
#the chances of it being legendary